/**
 * Pro Spatial with SQL Server 2012
 * Alastair Aitchison
 * Chapter 14 : Routefinding
 */

-- This script creates the sample data used in the A* routing demo
CREATE TABLE Edges(
	EdgeID int NOT NULL,
	Name varchar(50) NULL,
	FromNodeID int NOT NULL,
	ToNodeID int NOT NULL,
	geog4326 geography,
	oneway bit NULL,
	PRIMARY KEY CLUSTERED (EdgeId ASC)
);
GO

CREATE NONCLUSTERED INDEX idxEdges_FromTo ON Edges
(
	FromNodeID ASC,
	ToNodeID ASC
);
GO

CREATE TABLE Nodes(
	NodeID int NOT NULL,
	geog4326 geography,
	PRIMARY KEY CLUSTERED (NodeId ASC)
);
GO

SET NOCOUNT ON;
INSERT INTO Edges (EdgeID, Name, FromNodeID, ToNodeID, geog4326) VALUES (1, 'Castle Meadow', 590, 928, 0xE61000000104030000000561B8848D504A402C79E173CCBEF43FE7EBE86E8D504A40F9AEF7D15FBEF43FC443183F8D504A408CF678211DBEF43F01000000010000000001000000FFFFFFFF0000000002)
INSERT INTO Edges (EdgeID, Name, FromNodeID, ToNodeID, geog4326) VALUES (2, NULL, 995, 744, 0xE610000001040400000057EE601FF8504A40F7949C137BC8F43F340411F3F6504A401E3C6E5397C7F43F111AC1C6F5504A409BA7DF2AF4C6F43FB2B5638FF5504A40FF8C1C339AC6F43F01000000010000000001000000FFFFFFFF0000000002)
INSERT INTO Edges (EdgeID, Name, FromNodeID, ToNodeID, geog4326) VALUES (3, 'Bakers Road', 437, 83, 0xE6100000010403000000E8514C39BA514A40992034CC1AA6F43F64647F8FB0514A408B10C3B3A99FF43FD7A19A92AC514A40D1178C5B169DF43F01000000010000000001000000FFFFFFFF0000000002)
GO

INSERT INTO Nodes (NodeID, geog4326) VALUES (1, 0xE6100000010CBA1281EA1F504A407619FED30D94F43F)
INSERT INTO Nodes (NodeID, geog4326) VALUES (2, 0xE6100000010C9AD832CF00504A40E82A82A4F491F43F)
INSERT INTO Nodes (NodeID, geog4326) VALUES (3, 0xE6100000010CB8E864A9F54F4A401C15EE4BEC90F43F)
GO


-- Following procedure identifies those nodes that can be
-- reached from a given node
CREATE PROCEDURE dbo.GetNodesAccessibleFromNode 
	@NodeID int
AS
BEGIN
  SET NOCOUNT ON;
  /* Find all the NodeIDs that are accessible from a given node */
  SELECT
    ToNodeID,
    geog4326.STLength(),
    geog4326.STEndPoint()
  FROM
    Edges
  WHERE
    FromNodeID = @NodeID;
END;
GO

-- Following procedure identifies the edge that connects two nodes
CREATE PROCEDURE dbo.GetEdgeBetweenNodes
	@NodeID1 int,
	@NodeID2 int
AS
BEGIN
  -- SET NOCOUNT ON added to prevent extra result sets from
  -- interfering with SELECT statements.
  SET NOCOUNT ON;

/* Find all those roads that connect to a given node using the following */
SELECT
  geog4326
FROM
  Edges
WHERE
  FromNodeID = @NodeID1
  AND ToNodeID = @NodeID2;
END;
GO