/**
 * Pro Spatial with SQL Server 2012
 * Chapter 15 : Tesselation and Triangulation
 * 
 * Execute the scripts below to create and populate tables with the Firestation
 * and Cholera data used in this chapter
 */

CREATE TABLE [dbo].[MA_Firestations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[Address] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[Location] [geometry] NULL,
 CONSTRAINT [PK_MA_Firestations] PRIMARY KEY CLUSTERED 
( [Id] ASC )
);
GO

SET IDENTITY_INSERT [dbo].[MA_Firestations] ON;
GO

INSERT [dbo].[MA_Firestations] ([Id], [Name], [Address], [City], [Location]) VALUES (1, N'SANDWICH FIRE DEPARTMENT', N'458 Route 6A', N'SANDWICH', 0x6A690000010CFD31AD93BA9B1141467A51FBC2672941)
INSERT [dbo].[MA_Firestations] ([Id], [Name], [Address], [City], [Location]) VALUES (2, N'SANDWICH FIRE DEPARTMENT', N'115 Rt. 6A', N'SANDWICH', 0x6A690000010C07095104C54C114113471EC8467D2941)
INSERT [dbo].[MA_Firestations] ([Id], [Name], [Address], [City], [Location]) VALUES (3, N'SAVOY FIRE DEPARTMENT', N'17 Center Road', N'SAVOY', 0x6A690000010C26FBE781AD1EF240D53C4724C83D2C41)
GO

SET IDENTITY_INSERT [dbo].[MA_Firestations] OFF
GO



CREATE TABLE dbo.Cholera_deaths(
  ID int NOT NULL,
  NumDeaths int NULL,
  geom27700 geometry NULL,
  PRIMARY KEY CLUSTERED 
  ([ID] ASC)
);
GO

INSERT [dbo].[Cholera_deaths] ([ID], [NumDeaths], [geom27700]) VALUES (1, 1, 0x346C0000010C0EAC777C1626204124AD4AD2B7180641)
INSERT [dbo].[Cholera_deaths] ([ID], [NumDeaths], [geom27700]) VALUES (2, 3, 0x346C0000010CA13188FE1C2620417D4D146562110641)
INSERT [dbo].[Cholera_deaths] ([ID], [NumDeaths], [geom27700]) VALUES (3, 1, 0x346C0000010CA288C7952A26204191FE7022B5110641)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
